<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="body"><b><h1 class="text-center"> {{title}} </h1></b>
    <div class="container">
        <router-outlet></router-outlet>
    
    </div>
    <div class="abc">
            <b><br><span class="glyphicon glyphicon-user"></span>&nbsp;<a href="login" class="navlink">Admin Login</a>
           <br><br><span class="glyphicon glyphicon-user"></span>&nbsp;<a href="emplogin" class="navlink">Employee Login</a></b>
    </div></div>
    <div class="cont">
    <h2 style="color: rgb(218, 40, 40); margin-left: 10px; margin-top: 15px;"> Contact us</h2>
    <div style="margin-left: 50px;">
    <h3>  EmailId:</h3> hr123@gmail.com
    <p>Send us your query anytime!</p>
    <h3>  Phone:</h3> +91-8988822211
</div>
    </div>
    
    